# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
.env
.venv
venv/
ENV/

# Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# System
.DS_Store
